<div class="jumbotron">
  <div class="container">
    <div class="row col-xs-6">
      <form>
        <div class="form-group">
          <label for="requestno" class="control-label">Request Number</label>
          <input id="requestno" type="text" class="form-control" placeholder="Request Number">
        </div>

        <div class="form-group">
            <label for="partdesc" class="control-label">Part Description</label>
           <textarea id="partdesc" type="textarea" class="form-control" placeholder="Part Description"></textarea>
        </div>

        <div class="form-group">
            <label for="reasonforreq" class="control-label">Reason For Request</label>
            <select id="reasonforreq" class="form-control">
              <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label for="partsapno" class="control-label">Part SAP Number</label>
            <input id="partsapno" type="text" class="form-control" placeholder="Part SAP Number">
        </div>

        <div class="form-group">
            <label for="bdpono" class="control-label">BD PO Number</label>
            <input id="bdpono" type="text" class="form-control" placeholder="BD PO Number">
        </div>

        <div class="form-group">
            <label for="vendorbatchno" class="control-label">Vendors Batch Number</label>
            <input id="vendorbatchno" type="text" class="form-control" placeholder="Vendors Batch Number">
        </div>

        <div class="form-group">
            <label for="associatedtoolno" class="control-label">Associated Tool Number</label>
            <input id="associatedtoolno" type="text" class="form-control" placeholder="Associated Tool Number">
        </div>

        <div class="form-group">
            <label for="productdesc" class="control-label">Product Description</label>
            <select id="productdesc" class="form-control">
              <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label for="colour" class="control-label">Colour</label>
            <select id="colour" class="form-control">
              <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label for="drawingno" class="control-label">Drawing Number</label>
            <input id="drawingno" type="text" class="form-control" placeholder="Drawing Number">
        </div>

        <div class="form-group">
            <label for="drawingrevision" class="control-label">Drawing Revision</label>
            <input id="drawingrevision" type="text" class="form-control" placeholder="Drawing Revision">
        </div>

        <div class="form-group">
            <label for="attachments" class="control-label">Attachments</label>
            <div class="well">
                <input id="attachments" type="file" multiple>
            </div>          
        </div>

        <div class="form-group">
          <label for="steelspec" class="control-label">Steel Specification</label>
          <input id="steelspec" type="text" class="form-control" placeholder="Steel Specification">
        </div>

        <div class="form-group">
            <label for="measurementdesc" class="control-label">Description of Measurement</label>
           <textarea id="measurementdesc" type="textarea" class="form-control" placeholder="Description of Measurement"></textarea>
        </div>

        <div class="form-group">
            <label for="qtypartsmeasured" class="control-label">Qty Parts to be Measured</label>
            <input id="qtypartsmeasured" type="text" class="form-control" placeholder="Qty Parts to be Measured">
        </div>

        <div class="form-group">
            <label for="qtypartsbatch" class="control-label">Qty of Parts in Batch</label>
            <input id="qtypartsbatch" type="text" class="form-control" placeholder="Qty of Parts in Batch">
        </div>

        <div class="form-group">
            <label for="qtyfeaturesmeasured" class="control-label">Qty of Features to be Measured</label>
            <input id="qtyfeaturesmeasured" type="text" class="form-control" placeholder="Qty of Features to be Measured">
        </div>

        <div class="form-group">
            <label for="typeofreport" class="control-label">Type of Report</label>
            <select id="typeofreport" class="form-control">
              <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label for="idofparts" class="control-label">ID of parts if specific parts need measuring</label>
           <textarea id="idofparts" type="textarea" class="form-control" placeholder="ID of parts if specific parts need measuring"></textarea>
        </div>

        <div class="form-group">
            <label for="reqraisedby" class="control-label">Request Raised By</label>
            <input id="reqraisedby" type="text" class="form-control" placeholder="Request Raised By">
        </div>

        <div class="form-group">
            <label for="requestdate" class="control-label">Date Request Made</label>
            <input id="requestdate" type="date" class="form-control">
        </div>

      </form>
    </div>

  </div>
</div>